 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

:root {
    font-size: 62.5%;
    font-family: 'Alice', sans-serif;
    line-height: 150%;
    
    --titles: #291B1A;
    --text: #573A37;
    --bg-page: #F0E8C2;
    --background-color: rgba(87, 56, 36, 0.70);
    --footer: #F0E8C2;
}

body {
    background-image: url(assets/bg-image.jpg);
    background-size: cover;

    padding-inline: 2%;
}

#page {
    max-width: 80rem;
    padding: 2.4rem;
    margin: 4.8rem auto 2.8rem;
    border-radius: 2.4rem;
    background-color: var(--bg-page);
}

#page > img {
    width: 100%;
    border-radius: 1.6rem;
}

div.overlay {
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: var(--background-color);

}

main {
    padding: 2.4rem;
}

section + section {
    margin-top: 2.4rem;
}

/* pegue o P que anteriormente tenha outro P */
#about p + p {
    margin-top: 1.2rem;
}

h1 {
    font-size: 4rem;
}

h1, h2 {
    margin-bottom: 0.4rem;
    color: var(--title);
    line-height: 150%;
}

p {
    font-size: 1.6rem;
    color: var(--text);

}

h2 {
    font-size: 2.4rem;
}

ul {
    padding-left: 2.4rem;
}

footer {
    color: var(--footer);
    padding-bottom: 4.8rem;

    text-align: center;
}

footer img {
    vertical-align: middle;
}